@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://image.flaticon.com/icons/png/512/654/654058.png" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">B - Blog</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Se lleva acabo el presente blog para poder apoyar con estudiantes de primer ingreso y también para personas que necesitan apoyo y primeros pasos para su carrera y/o clases virtuales.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                @*<button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>*@
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">¿Cómo te vamos a ayudar? Ü</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">

            </div>
            <h2>Cursos gratuitos</h2>
            <p>Publicaremos cursos gratuitos de terceros a los cuales podrás acceder para poder ampliar tus conocimientos</p>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Descubrir cursos gratuitos</button>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            </div>
            <h2>Material de apoyo</h2>
            <p>Podrás encontrar consejos de algunos bloguers que quieran apoyar a la comunidad con consejos, links y materiales que les han ayudado a ellos en algún momento</p>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver las categorías.</button>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            </div>
            <h2>Quiero apoyar</h2>
            <p>Si eres de las personas que les gusta apoyar a otros con experiencias que te han aportado a ti también, únete y comparte información valiosa para la comunidad</p>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Postularme para apoyar</button>
        </div>
    </div>
</div>